/* Program Stylesheet */

body { font-size: 14px; line-height: 20px; font-family: Roboto, Verdana, sans; margin: 0 auto;}

#container { width: 1024px; margin: 0 auto;}

h2 { margin-bottom: 32px; margin-top: 16px; font-size: 36px; font-family: Roboto; font-weight: 500; }

p { margin-top: 10px; margin-bottom: 10px; }

h3 { margin-top: 16px; font-size: 20px; margin-bottom: 10px; font-family: Roboto; font-weight: 500; color: #428bca;}

h4 { margin-top: 18px; font-size: 16px; margin-bottom: 8px; font-family: Roboto; font-weight: bold;}

pre { 
	font-family: Consolas, Monaco, "Lucida Console", "Courier New", Courier, monospace;
	background-color: #eeeeee; 
	padding: 8px;
	font-size-adjust:
	ch-width from-font;
}

code { font-family: Consolas, "Lucida Console", "Courier New", Courier, monospace; }

#search { font-size: 12px; }

.logo {width: 80px; height: 80px; margin-top: 4px; }

.box {
	border:1px #CCCCCC solid;
	padding: 0 8px 16px 8px;
}

.date {
	margin: 0; font-size: 12px;
	text-transform:uppercase;
	letter-spacing:.2em;
	color:#999999;
}

th, td { padding: 4px; }

ul li {
	margin:11px 0px 0px -22px;
	list-style-type: square;
}

sup, sub {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

sub { top: 0.4em; }

.instructions p { margin: 0; }
.instructions td {white-space: nowrap; font-size: 13px; }

.nextprevious { margin: 0 0 18px 0; }

/* Tables */

table { border-collapse: collapse; margin: 10px 0 }

td { border: 1px solid #DDD; vertical-align: top; padding: 2px; }

table.new { border: none; }

table.new thead tr { border: none; border-bottom: 3px solid #eee; }

table.new tbody tr { border:none; border-bottom: 2px solid #e9e9e9; }

table.new td { padding-right: 6px; border: none; }

/* Equations */

.eqn { display: inline-block; vertical-align: middle; }
.num { display: block; text-align: center; border-bottom: 1px solid; }
.den { display: block; text-align: center; } 

/* Links */

a:link, a:visited {text-decoration: none; color: #428bca; }

a:hover {text-decoration: underline; color: #428bca; }

/* Styles */

.introduction {font-size: 18px;}

.center { text-align:center; }

/* Textarea */

.wysiwyg { margin-top: 0; }

.wysiwyg textarea {width: 720px; }

.headernav {
	float: right;
	width: 360px;
}

#searchform {
	position: relative;
	top: 36px;
	float: right;
	clear: right;
}

#usernav {
	position: relative;
	float: right;
}

.searchinput { width: 10em; }

#title {
	display: inline;
	position: relative;
	margin-left: 176px;
	top: -28px;
}

#header {
	margin: 0 auto 0 auto;
	width: 980px;
}

.description {
	width: 980px;
        margin: 0 auto;
	padding-bottom: 4px;
}

#wiki {
	width: 980px;
        margin: 0 auto;
	padding-bottom: 16px;
}

#content {
	width: 720px;
	float: right;
}

#navigation, #colophon {
	margin-bottom: 0;
	width: 240px;
	float: left;
}

#colophon h3, #navigation ul:before {
	color: black;
}

#navigation li {
	list-style:none;
	margin: 0 0 0 18px;
	text-indent: -18px;
}

#navigation ul {
	padding-left:0;
	margin-bottom:0;
	margin-top:0;
}

#footer {
display: none;
}

/* Navmenu */

#navmenuv {
    position: absolute;
    z-index: 9999;
    height: 50px;
    margin-left: 480px
}

#navmenuv li a {
    font-size: 16px;
    font-weight: bold;
    color: #999;
    line-height: 96px;
    padding: 0 12px;
}

#navmenuv li a:hover {
    	color: black;
	text-decoration: none;
}

#navmenuv ul.nav {
    padding: 0;
    margin: 0
}

#navmenuv .nav li {
    display: inline;
    padding: 0;
    margin: 0
}


